 html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: hsl(0, 0%, 0%);
    overflow-x: hidden; 
}
* {
    box-sizing: border-box;
    max-width: 100%; 
}
 .pop-up-container{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 390px;
    height: 100%;
    margin: auto; 
    background-color: #ffffff; 
    font-weight: 400;
} 
.pop-up-container::-webkit-scrollbar {
    display: none;
  }
.menu-box{
    position: sticky;
    top: 0;
    padding-top: 40px;
    display: flex;
    width: 342px;
    height: auto; 
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.menu-box .center-text{ 
    color: rgba(0, 0, 0, 0.90);   
    font-size: 18px; 
    font-weight: 600;
}
.menu-box .notification-container{ 
    margin-top: 3px;
    height: auto;
}
.close-pop-up{
    cursor: pointer; 
}
.header{
    margin: auto;
    margin-top: 48px;
    box-sizing: border-box;
    width: 342px;
    height: 112px;
    border-radius: 5px;
    background: #D9D9D9;
    padding: 23px 45px;
    color: #000;
    text-align: center;
    font-size: 18px; 
    font-weight: 400; 
}
.form-div{
    margin-top: 40px;
    margin-left: 24px;
    width: 331px;
    height: auto;
    margin-bottom: 67px;
}
.provide{
    box-sizing: border-box;
    width: 249px;
    height: 50px;
    border-radius: 5px;
    background: #D9D9D9;
    color: #000;
    text-align: center; 
    font-size: 20px; 
    font-weight: 400;
    padding: 13px 25px;
}
form{
    margin-top: 28px;
    width: 331px;
    height: auto;
    margin-bottom: 30px;
}
form label{
    display: block;
    text-align: left;
    color: #000;
    font-size: 15px; 
    font-weight: 400;
    margin-bottom: 5px;
}
form input{
    box-sizing: border-box;
    width: 284px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #A65000;
    align-content: center;
    padding-left: 15px;
    font-size: 18px;
    color: #000;
    margin-bottom: 31px;
    outline: none;
}
.account-number::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.amount::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 200px; 
    
}
button{
    display: block;
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #310048;
    color: #FFF;
    font-size: 15px; 
    font-weight: 700; 
    cursor: pointer;
}
.overlay{
    display: none;
    margin: auto;
    width: 390px;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.submited-pop-up{
    margin: auto;
    text-align: center;
    width: 242px;
    height: 132px;
    border-radius: 10px;
    background: #310048;
    line-height: 1.5;
    position: absolute;
    top: 45rem;
    left: 0px;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    animation: moveUp 0.5s ease-out forwards;

}
@keyframes moveUp {
  to {
    bottom: 20%;
    transform: translateY(50%);
    opacity: 1;
  }
}
.submit{
    padding-top: 15px;
    color: #FFF;
    font-size: 20px; 
    font-weight: 400;
    margin: 0;
   
}
.wait{
    color: #FFF;
    font-size: 15px; 
    font-weight: 300; 
    margin: 0;
}
.submit-btn-div{
    width: 38.276px;
    height: 14.176px;
    border-radius: 35.441px;
    background: #FFF;
    margin: auto;
    margin-top: 25px;
    align-content: center;
    justify-items: center;
}
.submit-btn{
    display: block;
    width: 32.606px;
    height: 11.341px;
    border-radius: 35.441px;
    background: #310048;
    color: #FFF; 
    font-size: 7.088px; 
    font-weight: 600;
    cursor: pointer;
}