 html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: hsl(0, 0%, 0%);
    overflow-x: hidden; 
}
* {
    box-sizing: border-box;
    max-width: 100%; 
}
 .container{ 
    overflow: hidden;
    position: relative;
    width: 390px;
    height: 100vh;
    background-color:#310048;
    color: #FFF;
    margin: auto; 
}
.background-shadow1{
    position: absolute;
    width: 353px;
    height: 100px;
    transform: rotate(37.804deg);
    flex-shrink: 0;
    border-radius: 353px;
    background: #FEA800;
    filter: blur(97.4000015258789px);
    opacity: 0.4;
    top:170px;
    right: -85px;
}
.background-shadow2{
    position: absolute;
    width: 353px;
    height: 56.224px;
    transform: rotate(85.101deg);
    flex-shrink: 0;
    border-radius: 353px;
    background: #FFA800;
    filter: blur(97.4000015258789px);
    opacity: 0.5; 
    bottom: 260px; 
    left: -200px
}
.main-container{ 
    position: absolute;
    width: 302px;
    height: 21rem; 
    margin: auto;
    margin-top: 55px; 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}
.container p{ 
    color: #FFF; 
    font-size: 24px; 
    font-weight: 500;
    margin-top: 100px; 
    margin-left: 40.5px;
}
.input-field{
    width: inherit;
    height: 53px; 
    border-radius: 10px;
    border: 1px solid #FFF;
    margin-bottom: 48px;
    padding-left: 15px;
}
.input-field2{
    width: inherit;
    height: 53px; 
    border-radius: 10px;
    border: 1px solid #FFF;
    margin-bottom: 8px;
    padding-left: 15px;
}
.input-field input {
    width: 265px;
    height: inherit; 
    border: none;
    background: transparent;
    outline: none;
    color: #FFF;
    font-size: medium;
}
.input-field2 input {
    width: 220px;
    height: inherit; 
    border: none;
    background: transparent;
    outline: none;
    color: #FFF;
    font-size: medium;
}
.input-field2{
    position: relative;
}
.input-field2 svg {
    position: absolute;
    top: 35%;
    right: 19px; 
    cursor: pointer;
}
 
.input-field input::placeholder{
    color: rgba(255, 255, 255, 0.70); 
    font-size: 20px; 
    font-weight: 400; 
}
.input-field2 input::placeholder{
    color: rgba(255, 255, 255, 0.70); 
    font-size: 20px; 
    font-weight: 400; 
}
.input-field:hover{
    border: 1px solid #FF7A00; 
}
.input-field2:hover{
    border: 1px solid #FF7A00; 
}
.reset-password-box{
    display:flex;
    width: 302px;
    align-items: center; 
    justify-content: space-between; 
}
.reset-password-box .save-password{
    display:flex;
    width: 93px; 
    align-items: center; 
    justify-content: space-between;
}
.save-password .checkbox{ 
    width: 15px;
    height: 15px;  
    align-content: center;
    justify-items: center; 
}
.save-password .save{  
    color: #FFF; 
    font-size: 11px; 
    font-weight: 400; 
}
.reset-password{ 
    color: #FFF; 
    font-size: 11px; 
    font-weight: 400;
    cursor: pointer;
}
.reset-password:hover{
    color: #ff9028;  
}
 
.checkbox input{ 
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0px;
    cursor: pointer;
}
#login{
    width: 302px;
    height: 53px; 
    border-radius: 10px;
    background: #FF7A00; 
    color: #FFF; 
    font-size: 20px; 
    font-weight: 700; 
    margin-top: 80px;
    border: none;
    cursor: pointer;
}

#login:hover{
    background: #d86901;  
}
.sign-up{
    position: absolute;
    color: #FFF; 
    font-size: 11px; 
    font-weight: 300;
    bottom:64px ;
    left: 50%;
     transform: translateX(-50%);
}
.sign-up span{
    color: #FFF; 
    font-size: 12px; 
    font-weight: 500; 
    text-decoration: underline;
    cursor: pointer;
}
.sign-up span:hover{
    color: #ff8615; 
}