 html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: hsl(0, 0%, 0%);
    overflow-x: hidden; 
}
* {
    box-sizing: border-box;
    max-width: 100%; 
}

 .container{
    margin: auto;
    overflow-y: auto; 
    width: 390px;
    height: 100vh;
    font-weight: 400;
    background-color: white;
}
.container::-webkit-scrollbar {
    display: none;
  }
.nav-box{
    width: inherit;
    height: 10px;
    height: auto;
    background-color: #55005C;
    color: white;
    z-index: 10;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px
}
.menu-box{
    text-align: center;
    margin: auto;
    padding-top: 5px;
    width: 354px;
    height: auto; 
}
.eedc-container, .abuja-logo-main-container, .kaduna-container,
.ibadan-container, .jos-container, .porthacort-container, .kano-container,
.ikeja-container, .eko-container{
    position: relative;
    margin: auto;
    width: 354px;
    height: 365px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25); 
    margin-bottom: 45px;
}
.eko-container{
    margin-bottom: 110px;
}
.eedc-container{
    margin-top: 30px;
}
.light-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 225px;
    height: 46px; 
}
.light-logo{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    align-content: center;

    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25); 
}
.light-logo img{
    display: inline-block;
    margin-top: 4px;
}
.abuja-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 230px;
    height: 46px;
}
.kaduna-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 245px;
    height: 46px;
}
.ibadan-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 245px;
    height: 46px;
}
.jos-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 220px;
    height: 46px;
}
.porthacort-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 260px;
    height: 46px;
}
.kano-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 235px;
    height: 46px;
}
.ikeja-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 235px;
    height: 46px;
}
.eko-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 220px;
    height: 46px;
}
.eedc-logo-box, .abuja-logo-box, .kaduna-logo-box, .ibadan-logo-box,
.jos-logo-box, .porthacort-logo-box, .kano-logo-box, .ikeja-logo-box, .eko-logo-box{
    position: absolute;
    width: 249px;
    height: 183px;
    flex-shrink: 0;
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
    top: 73px;
    left: 50%;
    transform: translateX(-50%);
}
.eedc-btn, .abuja-btn, .kaduna-btn, .ibadan-btn, .jos-btn,
.ibadan-btn, .porthacort-btn, .kano-btn, .ikeja-btn, .eko-btn{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
    width: 87px;
    height: 38px;
    color: white;
    border-radius: 50px;
    background: #55005C;
    border: 6px solid white;
    border-radius: 50px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
    bottom: 35px;
    left: 21.5%;
    transform: translateX(-50%);
    cursor: pointer;
}
.bottom-nav-bar-container{
    display: flex;
    position: fixed;
    width: 390px;
    height: 85px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between; 
    background-color: rgb(255, 255, 255);
    z-index: 20px;
}
.bottom-btn-container{
    height: 80px;
    width: 85px;
    justify-items: space-between;
    color: #000;
    padding-top: 5px;
    padding-left: 12px;
}
.home-iconAndhome-content-box,
.history-iconAndhistory-content-box,
.data-iconAnddata-content-box,
.profile-iconAndprofile-content-box{
    height: 60px;
    width: 60px;
    justify-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
 
 