body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: hsl(0, 0%, 0%);  
 } 
.main-container{ 
    position: relative;
    overflow-y: scroll;
    width: 390px;
    height: 100vh;
    background-color: #ffffff; 
    font-weight: 400;
    margin: auto; 
}
.main-container::-webkit-scrollbar{
    display: none;
}
.back-vector{
    margin-top: 40px;
    margin-left: 25px;
    cursor: pointer;
}
.verification-content1{
    position: absolute;
    color: #310048;
    font-size: 30px; 
    font-weight: 500;
    width: 240px;
    height: 75px;
    top: 100px;
    left: 61%;
    transform: translateX(-50%);
}
.verification-content2{
    text-align: center;
    width: 220px;
    height: 75px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    color: #310048;
    color: rgba(0, 0, 0, 0.70); 
    font-size: 15px; 
    font-weight: 400;
}
.verification-content2 span{
    color: #000; 
    font-size: 15px; 
    font-weight: 400;
}
.input-container{
   width: 242px;
   position: absolute;
   top: 260px;
   left: 50%;
   transform: translateX(-50%);
}
.input-box input{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #FF7A00;
    background: none;
    outline: none;
    text-align: center;
}
.input-box input:focus{
    border-color: #55005C;
}
.input-box{
    display: flex;
    justify-content: space-between;
    width: 242px;
    height: 32px;
}
.input-container p{
    color: #55005C;
    font-size: 10px; 
    font-weight: 300;
    margin-top: 10px;
    float: right;
    cursor: pointer;
}
.main-container img{
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
}
.resend:hover{
    color: #FF7A00;
}
.verify-btn{
    position: absolute;
    top: 565px;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    height: 37px;
    border-radius: 5px;
    background: #310048;
    color: #FFF; 
    font-size: 20px; 
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.verify-btn:hover{
    background: #FF7A00;
    transition: 0.3s;
}